
.header-menu {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.item {
    margin: 20px;

}
.item img {
    width: 20px;
    height: 20px;
}
.item a {
    text-decoration: none;
}
.item a:hover {
    text-decoration: underline;
}