body {
    font-family: 'Work Sans', sans-serif;
}

.header-menu {
    max-width: 850px;
    display: flex;
    justify-content: space-between;
    margin: 6rem auto;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.item {
    margin: 20px;

}
.item img {
    width: 20px;
    height: 20px;
}
.item a {
    text-decoration: none;
}
.item a:hover {
    text-decoration: underline;
}
.content {
    max-width: 850px;
    margin: auto;
}
h2 {
    margin: 3rem auto;
    text-align: center;
}