body {
    font-family: 'Work Sans', sans-serif;
}

.header-menu {
    max-width: 850px;
    display: flex;
    justify-content: space-between;
    margin: 6rem auto;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}
.item {
    margin: 20px;

}
.item img {
    width: 20px;
    height: 20px;
}
.item a {
    text-decoration: none;
}
.item a:hover {
    text-decoration: underline;
}
.content {
    max-width: 850px;
    margin: auto;
}
h2 {
    margin: 3rem auto;
    text-align: center;

}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    margin-top: 6%;
    margin-bottom: 50px;
}
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* または "contain" */
}
.grid-item {
    width: 100%; /* 追加 */
    max-width: 100%; /* 追加 */
}
.news dl{
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px;
    margin-bottom: 20px;
}
.news dt {
    width: 20%;
    border-bottom: solid 1px;
    padding: 15px;
}
.news dd {
    width: 80%;
    border-bottom: solid 1px;
    padding: 15px;
}